
# LaTeX build
Rancangan-Proposal.aux
Rancangan-Proposal.bbl
Rancangan-Proposal.blg
Rancangan-Proposal.log
Rancangan-Proposal.out
Rancangan-Proposal.fls
Rancangan-Proposal.fdb_latexmk
Rancangan-Proposal.synctex.gz

# Env files
.env

# Backend
backend/node_modules/
backend/uploads/

# Python
__pycache__/
*.pyc
.venv/

# Frontend
frontend/node_modules/
frontend/dist/

# graphify
graphify-out/

# IDE
.vscode/
.idea/
*.swp
*.swo

.opencode/